<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>索贝精灵-用户登录</title>
		<link rel="stylesheet" href="static/lib/bootstrap.min.css" />
		<link rel="stylesheet" href="static/css/login.css" />
	</head>

	<body>
		<div class="section header">
			<a href="#" title="海豚智能图像处理器"><img src="static/imgs/logo.png"/></a>
		</div>
		<div class="section" id="container">
			<div class="section login-box">
				<h3>超管登陆</h3>
				<div class="section login-form">
					<label>
						<span></span>
						<input type="text" ref="input" autofocus="autofocus" placeholder="请输入登录账号" v-model="userName" />
					</label>
					<label>
						<span></span>
						<input type="password" ref="password" placeholder="请输入密码" v-model="userPsd" />
					</label>
					<span :class="{success:isVerify==1}">{{verifyText}}</span>
					<div class="section login-btn">
						<a href="##" class="sure-btn" @click="loginBtn">登录</a>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="static/lib/jquery-3.2.0.min.js"></script>
		<script type="text/javascript" src="static/lib/vue.min.js"></script>
		<script type="text/javascript" src="static/lib/vue-resource.js"></script>
		<script type="text/javascript" src="static/js/config.js" ></script>
		<script type="text/javascript" src="static/js/login.js"></script>
	</body>

</html>