@import url("base.css");
.login-box {
	width: 5.63rem;
	height: 3.74rem;
	background: url(../imgs/login_bg.png) no-repeat;
	background-size: 100% 100%;
	top: 2.05rem;
	-webkit-animation: login 2s ease;
	-moz-animation: login 2s ease;
	animation: login 2s ease;
	box-shadow: 0 0 0.3rem #000000;
}

@keyframes login {
	0% {
		-moz-transform: translateY(-100px);
		-webkit-transform: translateY(-100px);
		transform: translateY(-100px);
		opacity: 0.1;
	}
	100% {
		-moz-transform: translateY(0);
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}

@-webkit-keyframes login {
	0% {
		-moz-transform: translateY(-100px);
		-webkit-transform: translateY(-100px);
		transform: translateY(-100px);
		opacity: 0.1;
	}
	100% {
		-moz-transform: translateY(0);
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}

@-moz-keyframes login {
	0% {
		-moz-transform: translateY(-100px);
		-webkit-transform: translateY(-100px);
		transform: translateY(-100px);
		opacity: 0.1;
	}
	100% {
		-moz-transform: translateY(0);
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}

.login-box h3 {
	text-align: center;
	font-size: 0.22rem;
	color: #ccc;
	margin-top: 0.4rem;
}

.login-form {
	padding: 0.3rem 0.9rem 0;
}

.login-form label {
	width: 100%;
	position: relative;
	float: left;
	margin-bottom: 0.15rem;
}

.login-form label span{
	position: absolute;
	top: 0.15rem;
	left: 0.15rem;
	width: 0.16rem;
	height: 0.16rem;
	background: url(../imgs/icon/user.png) no-repeat;
	background-size: 100% auto;
}

.login-form label:nth-of-type(2) span{
	height: 18px;
	background: url(../imgs/icon/psw.png) no-repeat;
	background-size: 100% auto;
}

.login-form input {
	line-height: 0.5rem;
	height: 0.5rem;
	background: #212121;
	float: left;
	width: 100%;
	padding: 0 0.2rem 0 0.4rem;
}

.login-form>span {
	color: #CD374B;
	font-size: 14px;
	width: 100%;
	line-height: 0.24rem;
	float: left;
	height: 0.24rem;
}

.login-form span.success {
	color: #53A6FD;
}

.login-form .login-btn {
	text-align: center;
	margin-top: 0.2rem;
	float: left;
}

.login-form .login-btn a {
	width: 100%;
	height: 0.5rem;
	line-height: 0.5rem;
	background: #2A91FF;
	border-radius: 4px;
	color: #fff;
	opacity: 0.8;
	-moz-transition: 0.3s ease;
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
	font-size: 0.16rem;
}

.login-form .login-btn a:hover {
	opacity: 1;
}